<section>
  <h2 class="login--title" style="text-align:center;">CommonCents</h2>
  <div class="container--login">
    <h1 style="text-align:center; font-size:2.5rem; font-style:bold;">Sign In</h1>
    <form class="login--form" action="/users/login" method="POST">
      <label class="label">
          <h3>Email</h3>
          <input type="text" name="email" placeholder="you@email.com" />
      </label>
      <label class="label">
          <h3>Password</h3>
          <input type="password" name="password" placeholder="Your Password" />
      </label>
      <button type="submit" class="button is-primary signin-button">Sign In</button>
    </form>
    <a href="">Forgot your password?</a>
    <hr>
    <h4>New to CommonCents? <a href="/users/signup">Sign up now</a></h4>
  </div>
</section>
