<section>
  <div class="">
    <h1>Forgot Your Password?</h1>
    <p>Enter your email address and we’ll send a link to reset your password.</p>
    <form class="login--form" action="/users/login" method="POST">
      <label class="label">
          <h3>Email</h3>
          <input type="text" name="email" placeholder="you@email.com" />
          <button type="button" name="button">Send Password Reset Link</button>
      </label>
      <a href="/users/login">Back to sign-in</a>
    </form>
  </div>
  
</section>
