<section>
  <h2 style="text-align:center;">CommonCents</h2>
  <div class="container--login">
    <h3>Sign In</h3>
    <form action="/users/login" method="POST">
      <label class="label">
          Email
          <input type="text" name="email" placeholder="you@email.com" />
      </label>
      <label class="label">
          Password
          <input type="password" name="password" placeholder="Your Password" />
      </label>
      <button type="submit" class="button is-primary">Sign In</button>
    </form>
  </div>
</section>
