<section>
  <div class="landing-page">
    <div class="divOne">
      <h1>Spend Less Time Budgeting</h1>
      <p>With EveryDollar Plus, you can connect your bank to your budget. No more time spent entering paper receipts or checking your bank account. Simply log in to view recent spending and drag transactions to your budget categories. All new users receive a free 15-day trial</p>
      <button type="button" name="button"><a href="/users/login">Try CommonCents</a></button>
    </div>
    <div class="divTwo">
      <div class="landing-page-hero">
        
      </div>
    </div>
  </div>
</section>
