<section class="sec-style">
  <div class="landing-page">
    <div class="empty-div-style"></div>
    <div class="divOne fadeInLeft animated">
      <h1>Spend Less Time Budgeting</h1>
      <p>With CommonCents, you can connect your bank to your budget. No more time spent entering paper receipts or checking your bank account. Simply log in to view recent spending and drag transactions to your budget categories. All new users receive a free 15-day trial</p>
      <button type="button" name="button"><a class="a-log-link" href="/users/login">Try CommonCents</a></button>
    </div>
    <div class="divTwo fadeInRight animated">
      <img class="title-image" src="../images/iHero.png" style="" alt="img">
    </div>
  </div>
  <div class="empty-div-style-two"></div>
  <div class="testimonials">
    <p>Testimonials</p>
    <div class="test-one">
      <h2 class="testimonial-text">CommonCents has taught me how to budget</h2>
      <img class="testimonial-image" src="https://avatars2.githubusercontent.com/u/49317027?s=460&v=4" alt="">
      <em>-RJ Salamanca</em>
    </div>
    <div class="test-two">
      <h2 class="testimonial-text">CommonCents taught me how to budget</h2>
      <img class="testimonial-image" src="https://avatars1.githubusercontent.com/u/2256644?s=460&v=4" alt="">
      <em>-Rad Ranger</em>
    </div>
    <div class="test-three">
      <h2 class="testimonial-text">CommonCents has taught me how to budget</h2>
      <img class="testimonial-image" src="https://avatars2.githubusercontent.com/u/36244405?s=460&v=4" alt="">
      <em>-Eli Zhang</em>
    </div>
  </div>

</section>
