<section class="expense-history-section">
        <p class="p-history">Budgeting Log</p>
        <table class="table-expense">
            <thead class="thead-expense">
                <tr>
                    <td><b>Timestamp</b></td>
                    <td><b>Description</b></td>
                    <td><b>Category</b></td>
                    <td><b>Amount</b></td>
                </tr>
            </thead>
            ${listOfExpenses.map(x =>
                    `<tr>
                        <td>${x.history_timestamp}</td>
                        <td>${x.description}</td>
                        <td><a href="">${x.history_category}</a></td>
                        <td>$${x.history_expense}</td>
                    </tr>`
                ).join('')}
        </table>
    </section>
