<section class="section-signup">
  <div class="container--signup">
    <p>Sign up. Its free and easy</p>
    <form action="/users/signup" method="POST">
        <label class="label">
            <input type="text" name="first_name" placeholder="First Name" autocomplete="off"/>
        </label>
        <label class="label">
            <input type="text" name="last_name" placeholder="Last Name" autocomplete="off"/>
        </label>
        <label class="label">
            <input type="text" name="email" placeholder="Email Address" autocomplete="off"/>
        </label>
        <label class="label">
            <input type="password" name="password" placeholder="Password" autocomplete="off"/>
        </label>
        <button type="submit" class="button is-primary">Sign Up</button>
    </form>
    <a href="/users/login">Actually, I have an account</a>
  </div>
</section>
