<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar main-nav  is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
        <a class="navbar-item" href='/'>Home</a>
    </div>
    ${!!is_logged_in ? `
    <div class="navbar-start">
      <a class="navbar-item" href='/setup'>Add/Modify Budget</a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href='/daily'>Add Expense</a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href='/daily/expenses'>View Transactions</a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item"><i class="far fa-user">   ${userName}!</i></a>
        <a class="navbar-item" href='/users/logout'>Logout</a>
    ` : `
        <a class="navbar-item" href='/users/login'>Login</a>
    </div>
    `}
  </nav>
  <!-- <h1 class="container">${title}</h1> -->
  <main class="container">${content}</main>
</body>
</html>
