<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">CommonCents</a>
        <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        ${!!is_logged_in ? `
          <a href="/setup" class="navbar-item">Add/Modify Budget</a>
          <a href="/daily" class="navbar-item">Add Expense</a>
          <a href="/daily/expenses" class="navbar-item">View Transactions</a>
          <a class="navbar-item"><i class="far fa-user">   Hello, ${userName}! ${email}</i></a>
          <a class="navbar-item" href='/users/logout'>Logout</a>
        ` : `
          <a class="navbar-item" href='/users/login'>Login</a>
        `}
      </div>
    </div>
  </nav>
  <!-- <h1 class="container">${title}</h1> -->
  <main class="container">${content}</main>
  <footer>
    <script type="text/javascript">
      (function() {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function() {
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
  </footer>
</body>
</html>
