* {
  box-sizing: border-box;
}

body {
  font: 14px "Source Sans Pro", sans-serif;
}

a {
  color: #00B7FF;
}

span {
  color:#58b368;
}



.span {
  color:white;
}

.sec-style {
  background-color: #222222;
}

.navbar-brand a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  color: #A69349;
}

.nav-style {
  border-bottom: 1px outset #A69349;
}

/******** Login Page *********/
.section-login {
  background-color:#D0CFBE;
  color:#A69349;
  height: 100vh;
  padding-top: 50px;
}

.container--login {
  background-color: #D0CFBE;
  box-shadow: 0 0 50px black;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 60px 30% 0;
  padding: 30px;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 5px 10px 15px black;
}

.h-sign {
  text-align:center;
  font-size:2.5rem;
  font-style:bold;
}

.a-pw-forget {
  display: flex;
  justify-content: center;
  color: #ff8246;
}

.a-signup {
  color: #ff8246;
}

.container--login h4 {
  text-align: center;
}

.login--title {
  padding-bottom: 2rem;
}

.login--form h3 {
  font-size: 2rem;
  color: #A69349;
}

.login--form input {
  border-width: 1px;
  height: 2.5rem;
  width: 100%;
}

/****** Signup Page *********/

.section-signup {
  background-color: #263448;
  color:black;
  height: 85vh;
  padding-top: 100px;
}

.container--signup {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 30%;
  padding: 30px;
}

.container--signup p {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  line-height: 45px;
  padding-bottom: 40px;
}

.container--signup h3 {
  font-size: 2rem;
}

.container--signup input {
  font-size: 1.7rem;
  width: 100%;
}

.container--signup button {
  width: 100%;
}

.container--signup a {
  display: flex;
  justify-content: center;
  color: #ff8246;
}

.container--signup a:hover {
  color:white;
}

.signin-button {
  width: 100%;
}

/****** Home Page *********/

.landing-page {
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 520px;
  grid-template-areas:
    "empty empty"
    "divOne divTwo";
  margin: 0 0 100px;
}

.empty-div-style {
  background-color: #dadddf;
  grid-area:empty;
  width: 100%;
}

.empty-div-style-two {
  background-color: #dadddf;
  height:50px;
  width: 100%;
}

.divOne {
  padding-left: 200px;
  grid-area: divOne;
  color: #A69349;
}

.divOne p:nth-of-type(1){
  color:white;
}

.divOne h1{
  padding-top: 170px;
  font-size: 3.9rem;
  font-weight: bold;
  line-height: 4.5rem;
  padding-bottom: 1.3rem;
}

.divOne button {
  background-color: #A69349;
  border-color: #222222;
  border-radius: 5px;
  font-size: 1rem;
  height: 3rem;
  margin-top: 1rem;
  width: 15rem;
}

.a-log-link {
  color:white;
}

.divTwo {
  grid-area: divTwo;
}

.landing-page-hero {
  background-color: white;
  margin-left: 100px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.landing-page-hero h4 {
  color: #5588a3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 40px;
}

.hero-list {
  padding-bottom: 20px;
}

.title-image {
  max-width: 50%;
  width: 50%;
  transform: rotate(26deg);
  z-index: -1;
  position: absolute;
  right: 30%;
}

.testimonials {
  padding-bottom: 30px;
  position: relative;
  background-color: #222222;
  text-align: center;
  color:#fff;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100px 200px;
  grid-template-areas:
    "p p p"
    "one two three";
  z-index: 1;
}

.testimonial-image {
  width:20%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 1.5rem;
}

.testimonials p {
  grid-area: p;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  color: #A69349;
}

.test-one {
  grid-area: one;
  color: #A69349;
}

.test-two {
  grid-area:two;
  color: #A69349;
}

.test-three {
  grid-area: three;
  color: #A69349;
}

/******** Setup Page *********/

.section-setup {
  background-color: #D0CFBE;
  color:white;
  height: 85vh;
  padding-top: 200px;
}

.p-setup {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 30px;
}

.add-modify-budget {
  background-color:#D0CFBE;
  font-size: 1.5rem;
}

.p-date {
  text-align: center;
  padding-bottom: 20px;
}

.add-modify-budget form {
  text-align: center;
}

.add-modify-budget input {
  font-size: 1.5rem;
  width: 20%;
}

.add-modify-budget button {
  border: none;
  color:red;
  background-color: #D0CFBE;
  font-size: 1.75rem;
  margin-left: 10px;
}

.add-modify-budget button:hover {
  color:green;
}

.p-budget-amt {
  display: inline-block;
  margin-right: 20px;
}

/******** Daily Page **********/
.expense-section {
  height: 85vh;
  background-color:#D0CFBE;
  display:grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 180px auto;
  grid-column-gap: 30px;
  grid-template-areas:
    "expense table"
    "addexpense table";
  padding: 80px 8% 100px;
}

.div-expense {
  background-color:#D0CFBE;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75rem;
  grid-area: expense;
}

.div-expense p {
  color:#A69349;
}


.thead-expense {
  background-color: #D0CFBE;
  color: #A69349;
}

/* .table-expense thead {
  background-color: #d0cfbe;
  color: rgb(54, 54, 54);
} */

#navMenu .hovertest:hover {
  color:#A69349 !important;
}

.table-expense {
  color: rgb(68, 59, 24);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  grid-area:table;
  line-height: 30px;
}

.table-expense tr {
  border-bottom: 1px solid #A69349;
}
.table-expense tr:hover {
  color: blue;
}

.section-add-expense {
  grid-area: addexpense;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #263448;
  font-size: 1.5rem;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.label-expense {
  /* padding-left: 20px; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  width:100%;
  display:inline-block;
}

.p-expense {
  color:rgb(68, 59, 24) !important;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.b-exp {
  color:#A69349;
  padding-right: 56px;
}

.b-cat {
  color:#A69349;
  padding-right: 50px;
}

.b-desc {
  color:#aee7e8;
  padding-right: 23px;
  color: #A69349;
}

.label-expense input{
  font-size: 1.3rem;
  height: 1.5rem;
  width: 200px;
}

.input-category {
  display: inline;
  padding-left: 40px;
}

.input-expense {
  display: inline-block;
  padding-left: 40px;
}

.p-expense {
  color: rgb(54, 54, 54);
  font-size: 1.5rem;
  padding-bottom: 10px;
  /* padding-left: 20px; */
}

.expense-button {
  background-color: rgb(189, 170, 95);
  border-color: #A69349;
  border-radius: 30%;
  margin-left: 10px;
  width: 100px;
  height: 1.4rem;
  margin-top: 10px;
  margin-left: 290px;
}

/********* Daily/History Page **********/
.expense-history-section {
<<<<<<< HEAD
  height: 100vh;
  background-color:#263448;
=======
  height: 85vh;
  background-color:#D0CFBE;
>>>>>>> 149dac76fcd803899145fa840de39d87f4800122
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
  grid-template-areas:
    "p-hist"
    "table";
  padding: 80px 20% 0;
}

.p-history {
  color: rgb(68, 59, 24);
  font-size: 3rem;
  grid-area: p-hist;
}

/******* Category History Page *******/
.section-category {
  height: 85vh;
  background-color:#263448;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "p"
    "table";
  padding: 50px 20%;
}

.section-category p {
  color:white;
  font-size: 2rem;
  grid-area: p;
  text-align: center;
}

.foot {
  padding: 5px 0;
}

@media only screen and (max-width:895px) {
  .landing-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    grid-template-areas:
      "divOne"
      "divTwo";
    margin-left:20%;
    margin-right:20%;
  }

  .testimonials {
    background-color: #ef8172;
    text-align: center;
    color:#fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "p"
      "one"
      "two"
      "three";
  }
}

@media only screen and (max-width:1280px) {
  .landing-page {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 400px;
    grid-template-areas:
      "empty empty"
      "divOne divTwo";
    margin: 0 0 100px;
  }

  .divOne {
    padding-left: 100px;
    grid-area: divOne;
    color: #A69349;
  }

  .divOne h1{
    padding-top: 70px;
    font-size: 3.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    padding-bottom: 1.3rem;
  }
}

@media only screen and (max-width:947px) {
  .expense-section {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto;
    grid-template-areas:
      "expense"
      "table";
  }

  .div-expense {
    max-width: 100%;
    max-height: 100px;
  }

  .div-expense p {
    display: inline-block;
  }

  .div-expense p:nth-of-type(1){
    padding-right:50px;
  }

  .section-add-expense label{
    display:inline-block;
  }

  .title-image {
    padding-top: 100px;
    transform: rotate(0);
    right:20%
  }

  .landing-page {
    grid-template-rows: 50px 550px
  }
}
