body {
  background-color: #f6f6f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

.container--login {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  font-family: 'Dosis', sans-serif;
  margin: 60px 25% 0;
  padding: 30px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.a-pw-forget {
  display: flex;
  justify-content: center;
}

.container--login h4 {
  text-align: center;
}

.container--signup {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  font-family: 'Dosis', sans-serif;
  margin: 60px 25% 0;
  padding: 30px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.container--signup input {
  border-width: 2px;
  height: 2.5rem;
  width: 100%;
}

.container--signup button {
  width: 100%;
}

.container--signup a {
  display: flex;
  justify-content: center;
}

.login--title {
  padding-bottom: 2rem;
}

.login--form input {
  border-width: 2px;
  height: 2.5rem;
  width: 100%;
}

.signin-button {
  width: 100%;
}

.landing-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "divOne divTwo";
  margin: 7rem 8%;
}

.divOne {
  grid-area: divOne;
}

.divOne h1{
  font-size: 3.9rem;
  font-weight: bold;
  line-height: 4.5rem;
  padding-bottom: 1.3rem;
}

.divOne button {
  background-color: #ff8246;
  font-size: 1rem;
  height: 3rem;
  margin-top: 1rem;
  width: 15rem;
}

.divTwo {
  grid-area: divTwo;
}

.landing-page-hero {
  background-color: white;
  margin-left: 100px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.landing-page-hero h4 {
  color: #5588a3;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 40px;
}

.hero-item {
  border: 2px solid #ffa45c;
  border-radius: 100px;
  box-shadow: 0 0 1pt 1pt #7189bf;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 3rem;
  grid-template-areas:
    "date detail price";
  margin: 10px 6%;
}

.list-item-date {
  grid-area: date;
}

.list-item-detail {
  grid-area: detail;
}

.list-item-price {
  grid-area: price;
}

.p-date {
  text-align: center;
}

.p-setup {
  text-align: center;
}

.add-modify-budget {
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  font-family: 'Dosis', sans-serif;
  margin: 1rem 15%;
  padding: 30px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
}

.add-modify-budget p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.add-modify-budget input {
  font-size: 2rem;
  width: 20%;
  height: 2rem;
}

.add-modify-budget button {
  font-size: 1.5rem;
  height: 1.95rem;
  width: 60px;
  border:none;
}

.p-budget-amt {
  display: inline-block;
  margin-right: 50px;
}

@media only screen and (max-width:895px) {
  .landing-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 410px 500px;
    grid-template-areas:
      "divOne"
      "divTwo";
    margin-left:20%;
    margin-right:20%;
  }
}
